<!DOCTYPE html>
<html>
  <head>
    <title>Checkbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-gray-900" data-controller="modal">
    <%= render "shared/flash" %>
    <%= render "shared/header" %>

    <main class="px-4 lg:px-9 mt-5 text-gray-300 max-w-7xl mx-auto">
      <%= yield %>
    </main>

    <%= turbo_frame_tag "modal" do %>
      <div id="modal_container" data-reflex-permanent></div>
    <% end %>
  </body>
</html>
