<%= turbo_frame_tag dom_id(account), target: "_top" do %>
  <li class="bg-gray-800 border border-transparent">
    <div class="flex items-center px-2 py-4 sm:px-2">
      <div class="min-w-0 flex-1 flex items-center">
        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <%= link_to account.name, account_path(account), class: "text-sm font-medium text-indigo-500 truncate" %>
            <p class="mt-2 flex items-center text-sm text-gray-500">
              <!-- Heroicon name: solid/mail -->
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="truncate">
                Balance: <%= account.balance.format %>
              </span>
            </p>
          </div>
          <div class="hidden md:block">
            <div>
              <p class="mt-2 flex items-center text-sm text-gray-500">
                <!-- Heroicon name: solid/mail -->
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="truncate">
                  Credits Total: <%= account.checks_total.format %>
                </span>
              </p>
              <p class="mt-2 flex items-center text-sm text-gray-500">
                <!-- Heroicon name: solid/mail -->
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="truncate">
                  Checks Total: <%= account.checks_total.format %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mr-2">
        <%= link_to "Write a Check", new_account_check_path(account), class: "btn btn-green" %>
      </div>
    </div>
  </li>
<% end %>
